.pink {
   background-color: #E6787A !important;
}

.light-blue {
   background-color: #7DC4B9 !important;
}

.yellow {
   background-color: #F2B64B !important;
}

.dark-blue {
   background-color: #455A69 !important;
}

.grey {
   background-color: #807D7D !important;
}

body {
    background-color: #e6ecf0 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
